abstract-instrument-interface==0.10
numpy==2.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtgraph==0.13.7
pyThorlabsPM100x==0.27
pyusb==1.2.1
PyVISA==1.14.1
PyVISA-py==0.7.2
typing_extensions==4.12.2
